<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bank Statement Upload</title>
</head>
<body>
    <h1>Upload Bank Statement</h1>
    <form th:action="@{/upload}" method="post" enctype="multipart/form-data">
        <input type="file" name="file" />
        <br/>
        <input type="submit" value="Upload" />
    </form>
    <br/>
    <div th:if="${statementSummary != null}">
        <h2>Statement Summary</h2>
        <p th:text="'Total Withdrawal Amount: ' + ${statementSummary.totalWithdrawalAmount}" />
        <p th:text="'Total Deposit Amount: ' + ${statementSummary.totalDepositAmount}" />
    </div>
</body>
</html>
